.certificate-container {
  height: 100vh;
  background-image: url(../../../public/images/nighttransparent.png); 
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.certificate-container h2{
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  font-weight: 100;
}
.certificate-images{
  display: flex;
  flex-direction: column;
}
.two-img{
  display: flex;
  flex-direction: row;  
}
.cert-img{
  width: 480px;
  margin: 20px;
  transition: 1s;
  }
.cert-img:hover {
  transition: 1s;
  transform: scale(1.8);
  transform-origin: center;
  z-index: 200;
}
@media (max-width: 1400px) {
  .certificate-container{
    height: 150vh;
  }
}
@media (max-width: 1100px) {
  .cert-img{
    width: 370px;
  }
  .cert-img:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 900px) {
  .certificate-container{
    padding-top: 300px;
    height: auto;
    
  }  
  .two-img{
    flex-direction: column;    
    align-items: center;
  }
  .cert-img{
    max-width: 90%;
  }

  .certificate-container h2{
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .certificate-container h2{
    font-size: 23px;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
}
